@import '../../../assets/css/bootstrap-darkly-4.2.1.min.css';
@import '../../../assets/css/bootnavbar.css';
@import '../../../assets/css/animate-3.7.0.min.css';
@import '../../../assets/css/student.css';

.container{
    // background-color:  #212121;
}
 
.container-fluid{
    background-size: cover;
    padding-bottom: 100%;
    // height: 100%;
    // width: 100%;
    background-color: #212121;
    overflow: hidden;
}