<app-navbar></app-navbar>

<div class="container-fluid-color1"> 
    <section class="sec1">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 sec1-margin">
                    <h2 class="text-white font-weight-bold text-uppercase">Welcome to Rubric</h2>
                    <hr class="border-white">
                    <span class="text-white font-weight-bold">The Best Online Interactive Platform</span><br>
                    <button class="text-white border-white btn btn-outline-info mt-3">Read more</button>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container-fluid container-fluid-color">
    <section class="container text-center text-white">
        <h2 class="py-4 font-weight-bold">Popular Discussion Groups</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-md-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quae delectus perferendis id error dolor consectetur 
                nemo veritatis consequatur, unde beatae temporibus deserunt laudantium corrupti fuga iusto molestiae ex accusantium.
            </div>
            <div class="row my-4">
                <div class="col-md-4 mb-4 mt-4">
                    <i class="fa fa-gavel fa-3x"></i>
                    <h4 class="my-4 font-weight-bold">TAX LAWS</h4>
                    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quae delectus perferendis id error dolor consectetur 
                        nemo veritatis consequatur, unde beatae temporibus deserunt laudantium corrupti fuga iusto molestiae ex accusantium.</P>
                    <button class="btn btn-outline-info text-white border-white">Read more</button>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <i class="fa fa-stethoscope fa-3x"></i>
                    <h4 class="my-4 font-weight-bold">COVID-19</h4>
                    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quae delectus perferendis id error dolor consectetur 
                        nemo veritatis consequatur, unde beatae temporibus deserunt laudantium corrupti fuga iusto molestiae ex accusantium.</P>
                    <button class="btn btn-outline-info text-white border-white">Read more</button>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <i class="fa fa-briefcase fa-3x"></i>
                    <h4 class="my-4 font-weight-bold">LET'S TALK BUSINESS</h4>
                    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quae delectus perferendis id error dolor consectetur 
                        nemo veritatis consequatur, unde beatae temporibus deserunt laudantium corrupti fuga iusto molestiae ex accusantium.</P>
                    <button class="btn btn-outline-info text-white border-white">Read more</button>
                </div>
            </div>
        </div>
        
    </section>
</div>

<footer class="container-fluid border-top text-white">
    <div class="container text-center py-4" >
        <p>&copy;Copyright Rubric - All rights Reserved</p>
    </div>
</footer>
