<div>
    <div class="sidebar bg-light p-0" id="navbar-ul" [ngClass]="{'toggleview': mobileMenu == true}">
        <img src="../../../assets/img/back.jpeg" class="rounded-circle pic-marg">
        <div class="text-center font-weight-bold mt-1 text-white">
            <P class="mb-1">Ikenna Okwueze</P>
            <P class="text-muted">Okwueze1@gmail.com</P>
        </div>
        <div class="text-center font-weight-bold bg-secondary text-white" id="side-channels">
            <p class="pt-3">Channels</p>
            <hr class="bg-white">
            <p class="pb-3">Users</p>
        </div>
        <p class="text-center menu-butt font-weight-bolder text-muted">Rubric</p>
    </div>
    <div class="content bg-white text-light p-0">
        <div class="sticky-top top-color bg-light">
            <img src="../../../assets/img/back.jpeg" class="rounded-circle pic-marg2">
            <div class="active-ppl">
                <h4>Ikenna Okwueze</h4>
                <h6>+10</h6>
            </div>
            <div class="head-icons form-inline">
                <i class="fa fa-phone-alt head-fonts"></i>
                <i class="fa fa-video head-fonts"></i>
                <form id="top-form">
                    <input type="text" placeholder="Search" class="form-control form-border">
                    <button class="btn btn-light form-border"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <i class="fas fa-bars mr-4 d-sm-block d-md-none text-white"
            (click)="toggleSidebar()" id="toggle"></i>
        </div>

        <div class="p-2"></div>

        <div class="chats outgoing">
            <img src="../../../assets/img/back.jpeg" class="rounded-circle chat-img">
            <div class="received-msg">
                <p>Hi may name is Ikenna Okwueze i will be your speak for today
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit nisi a beatae culpa nihil soluta at tempore est nam, ut corporis, 
                    doloremque magnam repellendus natus fugit hic. Voluptates, nostrum ab!.
                </p>
                <span class="text-muted">12:00pm</span>
            </div>
        </div>

        <div class="chats incoming">
            <div class="outgoing-msg">
                <p>What will be the lecture for today, i have a good feeling.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit nisi a beatae culpa nihil soluta at tempore est nam, ut corporis, 
                    doloremque magnam repellendus natus fugit hic. Voluptates, nostrum ab!.
                </p>
                <span class="text-muted">12:02pm</span>
            </div>
            <img src="../../../assets/img/insta1.jpg" class="rounded-circle chat-img">
        </div>

        <div class="chats outgoing">
            <img src="../../../assets/img/back.jpeg" class="rounded-circle chat-img">
            <div class="received-msg">
                <p>Hi may name is Ikenna Okwueze i will be your speak for today
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit nisi a beatae culpa nihil soluta at tempore est nam, ut corporis, 
                    doloremque magnam repellendus natus fugit hic. Voluptates, nostrum ab!.
                </p>
                <span class="text-muted">12:00pm</span>
            </div>
        </div>

        <div class="chats incoming">
            <div class="outgoing-msg">
                <p>What will be the lecture for today, i have a good feeling.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit nisi a beatae culpa nihil soluta at tempore est nam, ut corporis, 
                    doloremque magnam repellendus natus fugit hic. Voluptates, nostrum ab!.
                </p>
                <span class="text-muted">12:02pm</span>
            </div>
            <img src="../../../assets/img/insta1.jpg" class="rounded-circle chat-img">
        </div>

        <div class="chats incoming">
            <div class="outgoing-msg">
                <p>What will be the lecture for today, i have a good feeling.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit nisi a beatae culpa nihil soluta at tempore est nam, ut corporis, 
                    doloremque magnam repellendus natus fugit hic. Voluptates, nostrum ab!.
                </p>
                <span class="text-muted">12:02pm</span>
            </div>
            <img src="../../../assets/img/insta1.jpg" class="rounded-circle chat-img">
        </div>

        <div class="msg-bottom bg-light">
            <div class="bottom-icons">
                <i class="fa fa-plus-circle head-fonts"></i>
                <i class="fa fa-smile head-fonts remove"></i>
                <i class="fa fa-camera head-fonts remove"></i>
                <i class="fa fa-microphone head-fonts remove"></i>
            </div>
            <div class="submit_group">
                <input type="text" class="form-control bottom-form" placeholder="Type Message">
                <button class="send_btn"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>